<div class="jumbotron">
  <h1>Welcome to SuperSianChatty!</h1>
  <p>Make life fun again!!!</p>
  <%if current_user%>
    <p><span class="glyphicon glyphicon-heart"></span> Nice to see you, <%= current_user.username%> <span class="glyphicon glyphicon-heart"></span></p>
  <%end%>
  <p>Sign up or log in and start chatting right away!</p>
</div>

